@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> CRUD</h1>
    <p> Create, Read, Update, Delete </p>
    <p> Vamos manipular os dados, Criando, Lendo, Editando e Deletando </p>
</div>